<div class="row">
  <div class="col-md-8">
    <md-spinner *ngIf="!projects" color="accent"></md-spinner>
    <md-card *ngIf="projects">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Project</th>
              <th *ngFor="let item of voteCriteria">
                {{ item }}
              </th>
            </tr>
          </thead>
          <tr *ngFor="let project of projects">
            <th>{{ project.name }}</th>
            <td *ngFor="let item of project.points" [ngClass]="{'has-success': project.vote.submitted}">
              <input
                type="number"
                class="form-control"
                min="0"
                max="5"
                [(ngModel)]="item.value"
                [disabled]="project.vote.submitted || submittingVotes">
            </td>
          </tr>
        </table>
      </div>
    </md-card>
  </div>
  <div class="col-md-4 form">
    <div [hidden]="submittingVotes">
      <div class="form-group">
        <label>Account:</label>
        <input
          [(ngModel)]="selectedAccount"
          class="form-control"
          type="text"
          placeholder="Eg, 0x77d0406c3a2f487c6f32223672a74f0ead8371f1">
      </div>
      <div class="form-group">
        <label>Passphrase:</label>
        <input class="form-control" type="password" placeholder="Enter passphrase" #pass>
      </div>
      <button md-raised-button color="primary" (click)="submitVotes(pass.value)">VOTE</button>
    </div>
    <md-spinner *ngIf="submittingVotes"></md-spinner>
  </div>
</div>
